<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{X-B3-TraceId},%X{X-B3-SpanId}] %logger{36} : %msg%n" />
        </Console>

        <RollingRandomAccessFile name="tracelog" fileName="logs/logtrace.log" filePattern="logs/logtrace.log.%d{yyyy-MM-dd}.zip">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{X-B3-TraceId},%X{X-B3-SpanId}] %logger{36} : %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="31" />
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="applog" fileName="logs/logapp.log" filePattern="logs/logapp.log.%d{yyyy-MM-dd}.zip">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{X-B3-TraceId},%X{X-B3-SpanId}] %logger{36} : %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="7" />
        </RollingRandomAccessFile>
        
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console" />
            <AppenderRef ref="applog"/>  
        </Root>
        
        <Logger name="com.microtracing" level="DEBUG" additivity="false">  
             <AppenderRef ref="tracelog"/>  
        </Logger>  
        <Logger name="com.microtracing.tracespan.web.LogPrintStream" level="DEBUG" additivity="false">  
             <AppenderRef ref="applog"/>  
        </Logger>  
        
        
    </Loggers>
</Configuration>